<html><head>
    <title>
        Text Utility
    </title>
</head>
<body style="font-size: 28px;line-height: 1.8;letter-spacing: 0.039em;font-weight: 500;font-style: italic;width: 900px;border-left-style: solid;border-left-width: 0px;padding-left: 100px;padding-top: 50px;">
    <h4>Type the text tou want to analyze : </h4>
    <form action="/analysis" method="get">
        <textarea name="text" style="width: 805px; height: 239px;">            </textarea>
        <br>
        <input type='checkbox' name='count words'>Count words</input>
        <br>
        <input type='checkbox' name='remove punctuations'>Remove Punctuations</input>
        <br>
        <input type='checkbox' name='uppercase'>Uppercase</input>
        <br>
    <button type="submit" name="Analyze button">Analyze</button>
    </form>

</body></html>